/* components/ErrorBanner/ErrorBanner.css */
.error-banner {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(244, 67, 54, 0.8); /* Rosso con trasparenza */
  color: black; /* Testo nero */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  z-index: 9999;
}

.error-message {
  font-size: 16px;
  color: black; /* Testo nero */
  flex-grow: 1;
}

.close-button {
  background: none;
  border: none;
  color: black; /* Colore della "X" del pulsante in nero */
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  margin-left: 20px;
}
